<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/Content/stylesheets/output.css">
    <script src="/Content/js/jquery-3.2.1.js"></script>
    <script src="/Content/js/scripts.js"></script>
    <title></title>
    <title>Our Team</title>
  </head>
  <body>
    <!--header goes here-->
    <div class="main">
      <h1 class="center-text">Our Team</h1>
      <div class="team">
        <div class="brendan team-member">
          <img src="/Content/images/about-us/brendan.jpg" alt="Brendan" />
          <p>
            Born and raised in Portland, OR, I spent the decade previous to enrolling in Epicodus working as a barista and making hip hop music.  I'm passionate about art, community and social change, and am super stoked to be a part of this project and apply tech to the challenges of helping those who need it most!
          </p>
        </div>
        <div class="michael team-member">
          <img src="/Content/images/about-us/michael.jpg" alt="young Michael" />
          <p>
            Lil' Mike, the OG, born in San-Diego, CA, and still being raised in Vancouver, WA, is way ahead of his time. He is into soccer, technology and music. With a work background in the dental field as a CAD CAM technician, he decided it wasn't a life long career and enrolled in Epicodus. In his spare time, he enjoys listening and playing music, kicking a ball around, and have a few beers.
          </p>
        </div>
        <div class="jordan team-member">
          <img src="/Content/images/about-us/jordan.jpg" alt="Jordan with a baby duck" />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
        <div class="ethan team-member">
          <img src="/Content/images/about-us/ethan.jpg" alt="Ethan" />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
        <div class="beth team-member">
          <img src="/Content/images/about-us/beth.jpg" alt="Beth" />
          <p>
            Last year I took a year off & traveled around the world. That adventure opened my eyes to the numerous daily struggles of people. Many areas of the world and our own country and local communites could beneift by the generosity of its citizens. I have been fortunate to have the opportunity to contribute to Change Collective as a platform. Now the average person can contribute a small amount to helping bring a positive change to thier area of interest and concern.
          </p>
        </div>
      </div><!--/team-->
    </div>
    <footer>
      <a href="https://github.com/gepetto503/venmo-for-non-profits"><li>Github</li></a>
      <a href="/about"><li>Meet Our Team</li></a>
      <a href="/contact"><li>Contact</li></a>
    </footer>
    <!--put footer here-->
  </body>
</html>
