<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/Content/stylesheets/output.css">
    <script src="/Content/js/jquery-3.2.1.js"></script>
    <script src="/Content/js/scripts.js"></script>
    <title></title>
  </head>
  <body>
    <!--put header here-->
    <div class="main">
      <div class="carousel-area">
        <div class="carousel flex-child">
          <input type="radio" id="carousel-1" name="carousel[]">
          <input type="radio" id="carousel-2" name="carousel[]">
          <input type="radio" id="carousel-3" name="carousel[]" checked>
          <input type="radio" id="carousel-4" name="carousel[]">
          <input type="radio" id="carousel-5" name="carousel[]">
          <input type="radio" id="carousel-6" name="carousel[]">
          <ul class="carousel__items">
            <li class="carousel__item"><img src="/Content/images/causes/morpheus-bg.png" alt=""></li>
            <li class="carousel__item"><img src="http://fillmurray.com/500/501" alt=""></li>
            <li class="carousel__item"><img src="http://fillmurray.com/500/502" alt=""></li>
            <li class="carousel__item"><img src="http://fillmurray.com/500/503" alt=""></li>
            <li class="carousel__item"><img src="http://fillmurray.com/500/504" alt=""></li>
            <li class="carousel__item"><img src="http://fillmurray.com/500/505" alt=""></li>
          </ul>
          <div class="carousel__prev">
            <label class="input-bio1"for="carousel-1"></label>
            <label class="input-bio2"for="carousel-2"></label>
            <label class="input-bio3"for="carousel-3"></label>
            <label class="input-bio4"for="carousel-4"></label>
            <label class="input-bio5"for="carousel-5"></label>
            <label class="input-bio6"for="carousel-6"></label>
          </div>
          <div class="carousel__next">
            <label class="input-bio1"for="carousel-1"></label>
            <label class="input-bio2" for="carousel-2"></label>
            <label class="input-bio3" for="carousel-3"></label>
            <label class="input-bio4" for="carousel-4"></label>
            <label class="input-bio5" for="carousel-5"></label>
            <label class="input-bio6" for="carousel-6"></label>
          </div>
          <div class="carousel__nav">
            <label class="input-bio1" for="carousel-1"></label>
            <label class="input-bio2" for="carousel-2"></label>
            <label class="input-bio3" for="carousel-3"></label>
            <label class="input-bio4" for="carousel-4"></label>
            <label class="input-bio5" for="carousel-5"></label>
            <label class="input-bio6" for="carousel-6"></label>
          </div>
        </div>
      </div><!--carousel area-->

      <div class="donate-to-causes"><!--this is the flex parent of donate text and donate form-->
        @if(@Model["allOrganizations"].Count != 0)
        {
          @foreach(var organization in Model["allOrganizations"])
          {

            <div class="bio-@organization.GetId() donate-text flex-child">
            <a href="@organization.GetWebsite()"><h1>@organization.GetName()</h1></a>
            <p>@organization.GetLargeBio()</p>
            <a href="@organization.GetEmail()"><p>Contact</p></a>
            </div>
          }
        }
        @* <div class="bio-2 donate-text flex-child">
          <h1>ANOTHER NON_PROFIT ORG</h1>
          <p>THIS IS 2.Transformation through arts and awareness. The purpose of the Morpheus Youth Project is to create an accessible, safe and respectful environment that encourages positive growth and provides creative opportunities through the arts and humanities.</p>
        </div>
        <div class="bio-3 donate-text flex-child">
          <h1>NON PROFIT 3</h1>
          <p>THIS IS 3. Transformation through arts and awareness. The purpose of the Morpheus Youth Project is to create an accessible, safe and respectful environment that encourages positive growth and provides creative opportunities through the arts and humanities.</p>
        </div>
        <div class="bio-4 donate-text flex-child">
          <h1>NON PROFIT 4</h1>
          <p>THIS IS 4.Transformation through arts and awareness. The purpose of the Morpheus Youth Project is to create an accessible, safe and respectful environment that encourages positive growth and provides creative opportunities through the arts and humanities.</p>
        </div>
        <div class="bio-5 donate-text flex-child">
          <h1>NON PROFIT 5</h1>
          <p>THIS IS 5.Transformation through arts and awareness. The purpose of the Morpheus Youth Project is to create an accessible, safe and respectful environment that encourages positive growth and provides creative opportunities through the arts and humanities.</p>
        </div>
        <div class="bio-6 donate-text flex-child">
          <h1>NON PROFIT 6</h1>
          <p>THIS IS 6. Transformation through arts and awareness. The purpose of the Morpheus Youth Project is to create an accessible, safe and respectful environment that encourages positive growth and provides creative opportunities through the arts and humanities.</p>
        </div> *@
        <div class="donate-form-area flex-child">
          <form class="my-form" action="/organization/info" method="post">
            <input class="slider" type="range">
            <button class="form-button" type="submit" name="button">Donate</button>
          </form>
        </div>
      </div><!--donate to causes-->
    </div>
    <footer>
      <a href="https://github.com/gepetto503/venmo-for-non-profits"><li>Github</li></a>
      <a href="/about"><li>Meet Our Team</li></a>
      <a href="/contact"><li>Contact</li></a>
    </footer><!--main-->
    <!--put footer here-->
  </body>
</html>
