<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/Content/stylesheets/output.css">
    <script src="/Content/js/jquery-3.2.1.js"></script>
    <script src="/Content/js/scripts.js"></script>
    <title></title>
  </head>
  <body>
    <header class="navbar fixed">

        <div class="row">
          <div class="nav-left">

            <a class="logo" href="index.html">Home /</a>
            <a class="back-nav" href="#">Back</a>
          </div>
            <div class="mobile-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <nav>
                <ul>
                    <li><a href=".cause-grid">Causes</a></li>
                    <li><a href=".sign-up">Sign Up</a></li>
                </ul>
            </nav>

        </div> <!-- / row -->

    </header>

    <div class="main"> <!-- .full in layout.scss, messed up nav bar -->
      <div class="profile-content">
        <div class="profile-image">

        </div>
        <div class="profile-bio">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          <textarea id="bio" placeholder="Tell us about yourself"></textarea>
          <button class="form-button" type="submit" name="button">Update</button>
        </div>
        <div class="profile-causes">
          <div class="profile-feed">
            <div class="feed-image">

            </div>
            <ul>
              <li>Non-profit name</li><br>
              <li>How much money you donated</li>
            </ul>
          </div>
          <div class="profile-feed">
            <div class="feed-image">

            </div>
            <ul>
              <li>Non-profit name</li><br>
              <li>How much money you donated</li>
            </ul>
          </div>
          <div class="profile-feed">
            <div class="feed-image">

            </div>
            <ul>
              <li>Non-profit name</li><br>
              <li>How much money you donated</li>
            </ul>
          </div>
        </div>
      </div>
      <!--content-->
    </div>

    <footer>
      <a href="#"><li>LinkedIn</li></a>
      <a href="#"><li>Github</li></a>
      <a href="#"><li>Something Else</li></a>
    </footer>
  </body>
</html>
