.profile-content {
  // padding: 20px;
  border: 2px solid brown;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-image {
  flex-basis: 40%;
  height: 300px;
  width: 300px;
  border: 1px solid red;
  background-image: url(http://lorempixel.com/300/300/);
  @include small {
    height: 250px;
    width: 250px;
    background-image: url(http://lorempixel.com/250/250/);
  }
}

.profile-bio {
  padding: 20px;
  flex-basis: 60%;
  width: 600px;
  height: 300px;
  border: 1px solid blue;
  @include small {
    flex-basis: 100%;
  }
}

.profile-causes {
  padding: 20px;
  flex-basis: 100%;
  width: 900px;
  height: 300px;
  border: 1px solid green;
  @include small {
    flex-basis: 100%;
  }
  li {
    margin: 5px;
  }
}
// problems when resizing screen
textarea {
  // height: 90px;
  // width: 400px;
  width: 100%;
}
