// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$grey: #262626;
$color: #ffa172; //orange
$color2: #00405d; //navy blue
