.hero {
  background: #333 url(../images/hero.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  letter-spacing: 2px;
  padding: 40px;


  h1 {
    text-align: center;
    font-size: 60px;
    color: white;

  }

  span {
    font-size: 25px;
    line-height: 1;
    color: $color2;
    // border-bottom: 2px solid $color2;
    // padding-bottom: 12px;
  }

  p {
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 2;
  }
}
