.mission {
  // text-align: center;
  margin: 40px auto;
  h2 {
    font-size: 2rem;
    text-align: center;
  }

  @include desktop {

    font-size: 1rem;
    max-width: 75em;
    margin: 60px auto;
  }
}
